@import 'index';

//箭頭導覽
.Arrow {
    &-box {
        display: flex;
        position: relative;
        justify-content: center;
    }

    &-content {
        opacity: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        width: 100px;
        margin: 0 25px 0 0;
        position: relative;
        background: $theme-color;
        color: #FFF;
        font-size: 15px;

        &:hover {
            background: #7bf;
            color: #2F4050;
            font-weight: 700;
            cursor: pointer;

            &::after {
                border-color: transparent transparent transparent #7bf;
            }
        }

        &:first-child {
            justify-content: center;
        }

        &:first-child::before {
            border-color: transparent;
        }

        &::before {
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            left: 0px;
            border-style: solid;
            border-width: 25px 0 25px 25px;
            border-color: transparent transparent transparent rgba(229, 231, 235, 1);
            z-index: 0;
        }

        &::after {
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            right: -25px;
            border-style: solid;
            border-width: 25px 0 25px 25px;
            border-color: transparent transparent transparent $theme-color;
            z-index: 10;
        }
    }
}