.article {
    width: 100%;
    display: flex;
    gap: 1rem;

    img {
        float: left;
        width: 200px;
        margin-right: 20px;
        border-radius: 10px;
        border: .5px solid rgb(107, 107, 107);
        padding: 10px;
    }

    p {
        word-wrap: break-word;
        text-align: justify; //英文兩端對齊
        text-indent: 10px;

        &::first-letter {
            font-size: 25px;
            font-weight: bolder;
            margin-right: 3px;
        }
    }

    &-left {
        width: 50%;
        float: left;
    }

    &-right {
        width: 50%;
        float: right;
    }

    &-clear {
        clear: both;
    }
}