@import "index";
@import "size";

//背景斜切
.Cilp {
    width: 100%;
    position: relative;

    @include pc {
        background: linear-gradient(115deg, $theme-color 50%, transparent 50%) center center / 100% 100%,
            url("/free.jpg") right center / auto 100%;
    }

    @include pad {
        display: flex;
        justify-content: center;
        background: url("/free.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include phone {
        background: url("/free.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;

        @include phone {
            width: 100%;
        }
    }

    &-text {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #fff;
        font-weight: 600;
    }
}