@import 'index';

//Table-layout:
//table-layout 屬性有兩種設定值：
//auto（預設值）- 表格的總寬度決定於每一個儲存格(Cell)的最大值
//fixed – 表格的總寬度決定於表格 width 的定義，以及各欄位(Column) width 的定義

//Position-sticky
//sticky 的表現類似於 relative 和 fixed 的合體，在目標區域中可見時，它的行為就像 relative 不會有任何變化，而當頁面滾動超出目標區域時，它的表現 改為 fixed，會固定於目標位置。
//要注意的是當 position : sticky 應用於 table，只能作用於 <th> 和 <td>，並且一定要定義目標位置 left / right / top / bottom 才會出現固定效果！

.fixed-table {
    width: 30%;
    overflow: auto;
    outline: solid;
    height: 200px;

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100px;

        td,
        th {
            border: 1px solid gray;
            width: 100px;
            height: 30px;
        }

        th {
            background: $theme-color;
            color: #fff;
            position: sticky;
            top: 0
        }

        th:first-child,
        td:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
            background: #aaa;
        }

        th:first-child {
            z-index: 2;
            background: $theme-color;
        }
    }
}