$theme-color:rgb(5, 66, 128);
$timeline-axis:rgb(43, 143, 243);
$box-background:rgba(229, 231, 235, 1);

* {
    font-size: "Segoe UI", "微軟正黑體", sans-serif;
}
//容器
.box {
    background: $box-background;
    min-height: 100vh;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &>div {
        flex: 1
    }

}
//背景斜切
.Cilp {
    width: 100%;
    height: 40vh;
    background: linear-gradient(115deg, $theme-color 50%, transparent 50%) center center / 100% 100%,
        url("http://localhost:8082/src/assets/free.jpg") right center / auto 100%;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
        padding: 2.5rem;
    }

    &-title {
        font-weight: bold;
        font-size: 2.25rem;
        line-height: 2.5rem;
        color: #fff;
        padding-bottom: 1rem;
        border-bottom: .5px solid #fafa;
        width: fit-content;
    }

    &-text {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #fff;
        font-weight: 600;
    }
}
//箭頭導覽
.Arrow {
    &-box {
        display: flex;
        margin-bottom: 1rem;
        position: relative;
        padding: 1.5rem;
        justify-content: center;
    }

    &-content {
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 10%;
        margin: 5px 25px 0 0;
        position: relative;
        background: $theme-color;
        color: #FFF;
        font-size: 15px;

        &:hover {
            background: #7bf;
            color: #2F4050;
            font-weight: 700;
            cursor: pointer;

            &::after {
                border-color: transparent transparent transparent #7bf;
            }
        }

        &:first-child::before {
            border-color: transparent;
        }

        &::before {
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            left: 0px;
            border-style: solid;
            border-width: 25px 0 25px 25px;
            border-color: transparent transparent transparent rgba(229, 231, 235, 1);
            z-index: 0;
        }

        &::after {
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            right: -25px;
            border-style: solid;
            border-width: 25px 0 25px 25px;
            border-color: transparent transparent transparent $theme-color;
            z-index: 10;
        }
    }
}
//介紹卡片
.Profile {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    .card {
        &-box {
            width: 250px;
            height: 60vh;
            background: #fff;
            position: relative;
            border-radius: .5rem;
            opacity: 0;
        }

        &-header {
            width: 100%;
            height: 60%;
            background: $theme-color;
            position: relative;

            &-img {
                width: 200px;
                height: 85%;
                background-image: url('http://placekitten.com/200/300');
                background-repeat: no-repeat;
                background-position: center;
                margin: auto;
                position: relative;
                background-color: rgba(30, 58, 138, 1);
                width: 80%;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    border-top: 50px solid transparent;
                    border-left: 100px solid $theme-color;
                    border-right: 100px solid $theme-color;
                }
            }

            &-content::before {
                content: '';
                position: absolute;
                height: 0;
                bottom: 0;
                border-top: 50px solid transparent;
                border-left: 125px solid #fff;
                border-right: 125px solid #fff;
            }
        }

        &-body {
            height: 30%;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            gap: .5rem;
            top: -40px;

            &-img {
                &>span {
                    border-radius: 100%;
                    outline: 10px solid $theme-color;
                }
            }

        }

        &-footer {
            background: $theme-color;
            height: 10%;
            display: flex;
            gap: 1rem;
            justify-content: center;
            width: 100%;
            position: relative;
            bottom: 0;
            color: #fff;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}
//時間軸
.timeline {
    width: 85%;
    min-height: 80vh;
    position: relative;
    box-sizing: border-box;
    margin: auto;
    font-family: "微軟正黑體";

    &::before {
        content: "";
        position: absolute;
        width: 5px;
        left: 20%;
        background: $theme-color;
        animation-name: TimelineAxis;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }

    &-container {
        opacity: 0;
        width: 50%;
        padding: 2.5rem;
        position: relative;
        left: 20%;

        &::before {
            content: '';
            position: absolute;
            top: 40%;
            left: -10px;
            width: 25px;
            height: 25px;
            background-color: white;
            border: 4px solid $theme-color;
            border-radius: 50%;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            top: 45%;
            left: 20px;
            z-index: 2;
            width: 19px;
            height: 5px;
            background: $theme-color;
        }

    }

    &-time {
        display: inline;
        position: absolute;
        left: -180px;
        top: 37%
    }

    &-content {
        width: 100%;
        background: #fff;
        padding: 2rem;
        border-radius: .5rem;
        outline: solid $theme-color;

        &:hover {
            cursor: pointer;
        }

    }
}
//導覽列
.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #fff;
    background: $timeline-axis;

    & ul {
        display: flex;
        padding: 0;
        margin: 0;
    }

    & li {
        padding: 1.5rem 3rem;
        box-sizing: border-box;
        border-left: .5px solid #aaa;
        border-right: .5px solid #aaa;
        border-collapse: collapse;
        list-style: none;

        &:hover {
            background: $theme-color;
            cursor: pointer;
        }
    }
}
//圓餅圖
.pie {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &-content {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        background: #639;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: relative;
            background: #639;

        }

        &:hover::after {
            cursor: pointer;
        }

        &::after {
            content: attr(data-info);
            width: 40%;
            height: 40%;
            position: absolute;
            left: 30%;
            top: 30%;
            border-radius: 100%;
            background: $box-background;
            backdrop-filter: blur(15.7px);
        }
    }

    $colors: (#2C398F,
        #8293FF,
        #5A6CDB,
        #8F7624,
        #DBBD5A,
        #DBD57E);
    $rotate-value:60;

    @for $i from 1 through 6 {
        &-part:nth-child(#{$i}) {
            height: 100%;
            width: 100%;
            position: absolute;
            overflow: hidden;
            transform: translate(0, -50%) rotate(#{$i*$rotate-value}deg);
            transform-origin: 50% 100%;

            & label {
                position: absolute;
                bottom: 10%;
                left: 10%;
                color: #fff;
                font-size: 25px;
            }

            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: nth($colors, $i);
                transform-origin: 50% 0;
                transform: translate(0, 100%) rotate(#{$rotate-value}deg);
            }
        }

    }
}
//旋轉方塊
.Cube {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    perspective: 800px;
    position: relative;
    gap: 2rem;
    padding: 2rem 0;

    input {
        display: none;
    }

    &-tab {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        color: #fff;

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $timeline-axis;
            width: 100px;
            height: calc(100% / 3);
            font-size: 25px;
            font-family: 900;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                background: $theme-color;
            }
        }
    }

    &-box {
        position: relative;
        width: 300px;
        height: 300px;
        transform-style: preserve-3d;
        transition: transform 0.5s ease-in;
    }

    &-content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        span {
            width: 50%;
            margin: auto;
            color: #fff;
            font-size: 35px;
            font-family: 900;
            background: rgba(43, 42, 42, 0.616);
            outline: 5px solid;
            padding: .5rem;
        }

        &:nth-child(1) {
            transform: rotateX(-270deg) translateY(-150px);
            transform-origin: top;
            background-image: url('https://picsum.photos/200/300?random=1');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:nth-child(2) {
            transform: translateZ(150px);
            background-image: url('https://picsum.photos/200/300?random=2');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &:nth-child(3) {
            transform: rotateX(-90deg) translateY(150px);
            transform-origin: bottom;
            background-image: url('https://picsum.photos/200/300?random=3');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    #tab-top:checked~.Cube-box {
        transform: rotateX(-90deg);
    }

    #tab-front:checked~.Cube-box {
        transform: rotateX(0deg);
    }

    #tab-bottom:checked~.Cube-box {
        transform: rotateX(90deg);
    }
}
//頁尾
.footer {
    background: $theme-color;
    width: 100%;
    min-height: 20vh;
    display: flex;
}

@for $i from 1 through 6 {
    .Arrow-content:nth-child(#{$i}) {
        animation-name: LeftToRight;
        animation-duration: .5s;
        animation-delay: #{$i*0.3}s;
        animation-fill-mode: forwards;

    }

    .timeline-container:nth-child(#{$i}) {
        animation-name: TimelineMove;
        animation-duration: 1s;
        animation-delay: #{$i*0.8}s;
        animation-fill-mode: forwards;

    }
}

@for $i from 1 through 4 {

    .card-box:nth-child(#{$i}),
    .card-header-img:nth-child(#{$i}) {
        animation-name: LeftToRight;
        animation-duration: .5s;
        animation-delay: #{$i*0.5}s;
        animation-fill-mode: forwards;
    }
}

@keyframes LeftToRight {
    0% {
        opacity: 0;
        left: 20px;
    }

    100% {
        opacity: 1;
        left: 0px;
    }
}

@keyframes TimelineMove {
    0% {
        opacity: 0;
        left: 40%;
    }

    100% {
        opacity: 1;
        left: 20%;
    }
}

@keyframes TimelineAxis {
    0% {
        height: 0px;
    }

    100% {
        height: 100%;
    }
}