@import 'index';

//導覽列-下拉選單
.Navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    color: #fff;
    position: absolute;
    padding-top: 1rem;

    .drop {
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;
        list-style: none;

        &>li {
            background: $theme-color;
            padding: .5rem 1rem;
            font-size: 20px;
            font-weight: bolder;
            position: relative;
            border-radius: .75rem;

            &>div {
                display: flex;
                align-items: center;
                gap: .15rem;
            }

            &:hover {
                background: #fff;
                color: $theme-color;
                cursor: pointer;
                border-bottom: .5px solid $theme-color;
                border-radius: 0;

                & .drop-content {
                    animation-name: Menu;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;

                }
            }
        }

        &-content {
            opacity: 0;
            visibility: hidden;
            list-style: none;
            padding: 0;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;

            & li {
                width: 100%;
                padding-top: .5rem;
                padding-bottom: .5rem;
                background: $theme-color;
                color: #fff;
                font-size: 15px;
                text-align: center;
                border-bottom: .5px solid rgba(185, 184, 184, 0.425);

                &:hover {
                    background: #fff;
                    color: $theme-color;
                }
            }
        }
    }
}

@keyframes Menu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}