@import 'index';
@import 'size';

//旋轉拼接方塊
.Rotate {
    width: 100%;

    &>ul {
        margin: 0 auto;
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        @include pc {
            width: 500px;
            padding: 50px 0;
        }

        @include pad {
            width: 400px;
            padding: 70px 0;
        }

        @include phone {
            width: 300px;
            padding: 100px 0;
        }

        & li {
            width: 80px;
            height: 80px;
            text-align: center;
            position: relative;
            margin: 0 8% 0% 0%;

            @include pad {
                width: 65px;
                height: 65px;
            }

            @include phone {
                width: 50px;
                height: 50px;
            }

            &::after {
                content: attr(data-text);
                position: absolute;
                width: 50%;
                height: 50%;
                background: rgb(196, 196, 196);
                top: 25%;
                left: 25%;
                font-size: 25px;
                font-weight: bolder;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                mix-blend-mode: screen;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
                background: linear-gradient(90deg, rgba(84, 154, 249, 1)50%, rgba(0, 145, 190, 0.7)60%);
                outline: .5px solid #aaa;
                box-shadow: 0 0 5px #666;
            }
        }
    }
}

li:nth-child(n+5) {
    right: 60px;

    @include pad {
        right: 50px;
    }

    @include phone {
        right: 40px;
    }
}

li:nth-child(n+9) {
    left: 0;
}