@import 'index';

.scroll-parallax {
    width: 100%;
    height: 60vh;
    background-image: url("../public/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background: linear-gradient(115deg, $theme-color 39.3%, transparent 39.3%) center center / 100% 100%;
    }

    & .left {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .right {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}